@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.bold {
    font-weight: bold;
}

.plan__header {
    background-color: #032b41;
    color: white;
    border-radius: 0 0 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.plan__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 800px;
}

.plan__pg {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.plan__img {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    border-radius:50% 50% 0 0;
}

.plan__list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 600px;
    margin-bottom: 20px;
    position: relative;
}

.plan__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    max-width: 250px;
}

.plan__item img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    color: #032b41;
}

.plan__choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100vw;
}

.plan__choices-list {
    width: 100%;
}

.plan__choices-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #032b41;
}

.plan__choices-list {
    gap: 40px;
}

.plan__choices-item {
    display: flex;
    gap: 24px;
    padding: 24px;
    background-color: #f1f6f4;
    border: 4px solid #bac8ce;
    border-radius: 4px;
    cursor: pointer;
    max-width: 680px;
    margin: 0 auto;
}

.plan__choices-circle {
    margin-top: 20px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan__card--dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
}

.plan__choices-item--selected {
    border-color: #2bd97c;
}

.plan__choices-item-title {
    font-size: 16px;
    margin: 5px;
    color: #032b41;
    font-weight: bold;
}

.plan__choices-item-price {
    font-size: 24px;
    margin: 5px;
    color: #032b41;
    font-weight: bold;
}

.plan__choices-item-text {
    font-size: 14px;
    margin: 5px;
    color: #888888ec;
}

.plan__choices-text {
    text-decoration: dashed;
    color: #888888ec;
    font-size: 12px;
    font-weight: 300;
}

.plan__intercede {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.styled-line {
border: none;               
  height: 1px;                
  background-color: #888888ec;  
  width: 15%;                
  margin: 10px 2px;  
}

.plan__card--cta {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100vw;
}

.plan__choices-btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    margin-bottom: 20px;
}

.plan__trial-text {
    font-size: 12px;
    color: #6b757b;
    text-align: center;
}

.plan__faqs-question {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 0 24px;
}

.plan__faqs-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px 0;
    gap: 8px;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    margin-bottom: 0;
    color: #032b41;
    transition: .3s;
}

.accordion__icon.icon--active {
    transform: rotate(180deg);
}

.accordion__icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    transition: transform .3s;
}

.plan__faqs-text {
    max-height: 0;
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    color: #032b41;
}

.plan__faqs-text.faq--active {
    max-height: 500px;
    opacity: 1;
}

.container__footer {
    padding: 40px 0;
    width: 100%;
    }

.row__footer {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

@media (max-width: 768px) {
    .container__plan {
        margin-left: 0;
        width: 100%;
    }

    .plan__title {
        font-size: 26px;
        margin-bottom: 32px;
    }

    .plan__sub--title {
        font-size: 16px;
    }

    .plan__img {
        width: 100%;
        height: 100%;
    }

    .plan__list {
        flex-direction: column;
    }

    .plan__choices-title{
        font-size: 24px;
    }

    .plan__choices-list {
        padding: 0 20px;
    }

    .plan__faqs-title {
        font-size: 20px;
    }

    .plan__faqs-text {
        font-size: 14px;
    }

    .footer__top--wrapper {
        flex-direction: column;
        gap: 32px;
    }

    

}


